* {
  box-sizing: content-box;
}

.contain {
  padding-right: 7.7%;
  height: 100%;
  width: 100%;
}
.contain-row {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.center {
  text-align: center;
}

.statisticalType {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 128.6%;
  color: #9dddf5;
  text-align: center;
  height: 19.7%;
}

.statisticalleftCol {
  border-top: 1px solid transparent;
  height: 74%;
}

.statisticalCell {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #061b41;
  color: #aec3d1;
  height: 21%;
  margin-bottom: 6.4%;
  font-size: 142.9%;
}
.statisticalCellRed {
  color: #E52239;
}
.statisticalTag {
  font-size: 16px;
}
.tag1 {
  background-color: #189af7;
}

.tag2 {
  background-color: #18c887;
}

.tag3 {
  background-color: #8746ff;
}

.tag4 {
  background-color: #ffcf0f;
}

.tag {
  width: 12px;
  height: 12px;
  margin-right: 10px;
  display: inline-block;
  border-radius: 50%;
}
.statisticalCol {
  border-top: 1px dashed #216d93;
  border-bottom: 1px dashed #216d93;
  border-left: 1px dashed #216d93;
  height: 74%;
}

.statisticalCol:last-child {
  border-right: 1px dashed #216d93;
}

.statisticalColSelect {
  border: 2px solid #3fcaf1 !important;
  background-image: linear-gradient(0deg, #040f34 0%, #045e7e 100%);
}

.statisticalColSelect + .statisticalCol {
  border-left: none;
}

.statisticalColSelect .statisticalCell {
  font-size: 171.4%;
  color: #ffffff;
}
.statisticalColSelect .statisticalCellRed {
  color: #E52239;
}

@media only screen and (max-height: 800px) {
  .statisticalType{
    font-size: 16px;
  }
  .statisticalCell {
    font-size: 14px;
  }
  .statisticalColSelect .statisticalCell {
   	font-size: 16px;
  }
}

@media only screen and (max-width: 1500px) {
  .statisticalType{
    font-size: 16px;
  }
  .statisticalCell {
      font-size: 14px;
  }
  .statisticalColSelect .statisticalCell {
   	font-size: 16px;
  }
}
